/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

*{
  font-family: 'Russo One', sans-serif;
}

 body {
    background-color: #D3D3D3;
}

.coin-tile {
  background-color: #FFFAFA;
  width: auto;
  font-family: 'Russo One', sans-serif;




  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-width: 0 4px 4px 0;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 25px ;
  text-align: center;
  align-content: center;
  font-size: 25px;
}

.coin-tile:hover {

}

.field{
  font-family: 'Russo One', sans-serif;


  background-color: #f1f1f1;
  height: auto;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-width: 0 4px 4px 0;
  background-color: #ffffff;
  width: 500px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-width: 0 4px 4px 0;





  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-width: 0 4px 4px 0;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 25px ;
  text-align: center;
  align-content: center;
  font-size: 25px;


}


.search{
  background-color: #D3D3D3;
  width: 955px;
  font-family: 'Russo One', sans-serif;

  background-color: #f1f1f1;
  width: 1000px;
  height: auto;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-width: 0 4px 4px 0;
  background-color: #ffffff;
  width: auto;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-width: 0 4px 4px 0;

  background-color: #FFFAFA;
  width: auto;



  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-width: 0 4px 4px 0;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 25px ;
  text-align: center;
  align-content: center;
  font-size: 25px;


}

.cointile {
  font-family: 'Russo One', sans-serif;

  background-color: #f1f1f1;
  width: 1000px;
  height: 265px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-style: solid;
  border-width: 0 4px 4px 0;
  background-color: #ffffff;
  width: auto;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-width: 0 4px 4px 0;

  background-color: #FFFAFA;
  width: auto;



  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-width: 0 4px 4px 0;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 25px ;
  text-align: center;
  align-content: center;
  font-size: 25px;



}

.edit-user {
  width: 40%;
  text-align: center;
  margin-left: 30%;
}

.commenttile {
  background-color: #f1f1f1;
  width: 1000px;
  height: 200px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;

  border-width: 0 4px 4px 0;
  background-color: #FFFAFA;
  width: auto;
  font-family: 'Russo One', sans-serif;



  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;

  border-width: 0 4px 4px 0;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 25px ;
  text-align: center;
  align-content: center;
  font-size: 25px;
}

.tile {
  background-color: #ffffff;
  width: auto;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-style: solid;
  border-width: 0 4px 4px 0;

  background-color: #FFFAFA;
  width: auto;
  font-family: 'Russo One', sans-serif;



  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;

  border-width: 0 4px 4px 0;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 25px ;
  text-align: center;
  align-content: center;
  font-size: 25px;
}

.coinfont {
  font-size: 35px;
  font-family: 'Russo One', sans-serif;

}

.padder {
  padding: 20px;
}

.coinimg {
  float: left;
  height: 220px;

}

.commenttitle {
  float: right;
  padding: 50px;
}

.commentinfo {
  float: left;
  margin: auto;
  padding: 0px 18px 18px 18px;
}

.center {
    margin: auto;
    width: 75%;
    padding: 10px;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.input {
    width: 100%;
}

#title {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  color: white;

}
h2 {
  font-family: 'Russo One', sans-serif;

}
h3 {
  font-family: 'Russo One', sans-serif;

}

.background {
  background-image: url("http://www.texturex.com/albums/Metal-Textures/dark%20brushed%20metal%20texture%20steel%20black%20stock%20photo%20scratch%20wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

a {
  font-family: 'Russo One', sans-serif !important;
}
.button {
  font-family: 'Russo One', sans-serif !important;

}
section {
  font-family: 'Russo One', sans-serif;
}

#edit {
  color: white;
}
