/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 body {
    background-color: #F0F0E1;
}

.coin-tile {
  background-color: #FFFAFA;
  width: 1000px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-style: solid;
  border-width: 0 4px 4px 0;
  margin: 10px 10px 10px 10px;
  padding: 10px ;
  align-content: right;
  font-size: 25px;
  box-shadow: 5px 5px 5px #888
}

.search{
  background-color: #F0F0E1;
}

.cointile {
  background-color: #f1f1f1;
  width: 1000px;
  height: 265px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-style: solid;
  border-width: 0 4px 4px 0;

}

.commenttile {
  background-color: #f1f1f1;
  width: 1000px;
  height: 200px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-style: solid;
  border-width: 0 4px 4px 0;
}

.tile {
  background-color: #f1f1f1;
  width: auto;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: transparent;
  border-style: solid;
  border-width: 0 4px 4px 0;
}

.coinfont {
  font-size: 35px;
}

.padder {
  padding: 20px;
}

.coinimg {
  float: left;
  height: 220px;
}

.commenttitle {
  float: right;
  padding: 50px;
}

.commentinfo {
  float: left;
  margin: auto;
  padding: 18px;
}



.center {
    margin: auto;
    width: 75%;
    padding: 10px;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.input {
    width: 100%;
}
